#displayPhotos {
  border: solid
}

#leftPhoto {
  width: 300px;
}

#centerPhoto {
  width: 300px;
}

#rightPhoto {
  width: 300px;
}

button {}

canvas {
  outline: dotted 1px orange;
}

#chartSection {
  outline: dotted 1px orange;
}
